@font-face {
  font-family: 'Chess';
  src:  url('./Chess.eot?px5p9j');
  src:  url('./Chess.eot?px5p9j#iefix') format('embedded-opentype'),
    url('./Chess.ttf?px5p9j') format('truetype'),
    url('./Chess.woff?px5p9j') format('woff'),
    url('./Chess.svg?px5p9j#Chess') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Chess' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fide-title-wcm:before {
  content: "\e920";
}
.icon-fide-title-wfm:before {
  content: "\e921";
}
.icon-fide-title-wim:before {
  content: "\e922";
}
.icon-fide-category-gm:before {
  content: "\e923";
}
.icon-fide-title-cm:before {
  content: "\e924";
}
.icon-fide-title-im:before {
  content: "\e925";
}
.icon-fide-title-gm:before {
  content: "\e926";
}
.icon-fsi-title-nm:before {
  content: "\e91b";
}
.icon-fide-title-fm:before {
  content: "\e927";
}
.icon-fsi-title-cn:before {
  content: "\e91c";
}
.icon-fsi-category-1n:before {
  content: "\e91d";
}
.icon-fsi-category-2n:before {
  content: "\e91e";
}
.icon-fsi-category-3n:before {
  content: "\e91f";
}
.icon-fsi-category-nc:before {
  content: "\e913";
}
.icon-fsi-logo:before {
  content: "\e919";
}
.icon-chesscom-logo:before {
  content: "\e900";
}
.icon-chesscom-bullet:before {
  content: "\e901";
}
.icon-chesscom-blitz:before {
  content: "\e902";
}
.icon-chesscom-rapid:before {
  content: "\e903";
}
.icon-address-card-solid:before {
  content: "\e904";
}
.icon-trophy-solid:before {
  content: "\e905";
}
.icon-chess-pawn-solid:before {
  content: "\e906";
}
.icon-chess-knight-solid:before {
  content: "\e907";
}
.icon-chess-bishop-solid:before {
  content: "\e908";
}
.icon-chess-rook-solid:before {
  content: "\e909";
}
.icon-chess-queen-solid:before {
  content: "\e90a";
}
.icon-chess-king-solid:before {
  content: "\e90b";
}
.icon-chess-board-solid:before {
  content: "\e90c";
}
.icon-graduation-cap-solid:before {
  content: "\e90d";
}
.icon-fide-logo:before {
  content: "\e90e";
}
.icon-fide-cup:before {
  content: "\e90f";
}
.icon-fide-blitz:before {
  content: "\e910";
}
.icon-fide-rapid:before {
  content: "\e911";
}
.icon-fide-standard:before {
  content: "\e912";
}
.icon-lichess-logo:before {
  content: "\e91a";
}
.icon-lichess-ultrabullet:before {
  content: "\e914";
}
.icon-lichess-bullet:before {
  content: "\e915";
}
.icon-lichess-blitz:before {
  content: "\e916";
}
.icon-lichess-rapid:before {
  content: "\e917";
}
.icon-lichess-classical:before {
  content: "\e918";
}